
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*'Indie Flower', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    background: white url("imgs/back.png") no-repeat ;
}

h1{
    font-family: 'Joti One', cursive;
    font-size: 350%;
    text-shadow: 2px 2px #fbc851;    
}

div { 
    font-family: 'ZCOOL KuaiLe', cursive
}

.act{
    overflow-y: scroll;  
    height:200px;
}
.size{
    font-size: 20px !important;
}
